STAGE=dev
PORT=5000
CLIENT_URL=http://localhost:3000

DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=argos

JWT_SECRET=replace_with_at_least_32_characters
API_KEY_PREFIX=argos_
